<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WONDERLY INDUSTRIES LIMITED</title>
    <link rel="icon" href="../../favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/about.css">
    <script src="../../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../../assets/js/common.js"></script>
    <script src="../../assets/js/about.js"></script>
</head>
<body>
<div class="content">
    <iframe class="head" src="head.html"></iframe>
    <iframe class="nav" src="nav.html"></iframe>
    <div class="main">
        <h2 class="title">
            ABOUT US
        </h2>
        <p class="detail" id="detail">
        </p>
    </div>
    <iframe class="foot" src="foot.html"></iframe>
</div>
</body>
</html>