<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WONDERLY INDUSTRIES LIMITED</title>
    <link rel="icon" href="../../favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/contact.css">
    <script src="../../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../../assets/js/common.js"></script>
    <script src="../../assets/js/contact.js"></script>
</head>
<body>
<iframe class="head" frameborder="0" scrolling="no" src="head.html"></iframe>
<iframe class="nav" frameborder="0" scrolling="no" src="nav.html"></iframe>
<section class="content">
    <section class="left">
        <section class="main">
            <p class="address-title">WONDERLY INDUSTRIES LIMITED</p>
            <section class="address" id="address"></section>
        </section>
        <section class="cooperation">
            <img src="../../assets/imgs/contact/co-operation.jpg" alt="cooperation"/>
        </section>
    </section>
    <section class="right">
        <section class="inquiry">
            <form name="guestInfo" action="../../util/ajax/addGuest.php" method="post" >
                <input id="name"  placeholder="Name*" required oninvalid="setCustomValidity('Required!');" oninput="setCustomValidity('');" name="name"/>
                <input placeholder="Company" name="company"/>
                <input placeholder="Country(Region)" name="region"/>
                <input placeholder="Phone*" required oninvalid="setCustomValidity('Required!');" oninput="setCustomValidity('');" name="phone"/>
                <input placeholder="Fax" name="fax"/>
                <input type="email" placeholder="E-mail*" required name="email"/>
                <textarea name="message" id="message" placeholder="Message"></textarea>
                <input class="btn btn-submit" value="SUBMIT" type="submit"/>
                <input class="btn btn-reset" value="RESET" type="reset"/>
            </form>
        </section>
    </section>
</section>
<iframe class="foot" frameborder="0" scrolling="no" src="foot.html"></iframe>
</body>
</html>