<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="Mark Crusoe"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="../../assets/css/base.css"/>
    <link rel="stylesheet" href="../../assets/css/foot.css"/>
    <title>foot</title>
</head>
<body>
<section class="content">
    <p class="copyright">
        Copyright © 2013 - 2017 All rights reserved
    </p>
</section>
</body>
</html>