<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="Mark Crusoe"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="../../assets/css/base.css"/>
    <link rel="stylesheet" href="../../assets/css/nav.css"/>
    <title>nav</title>
</head>
<body>
<nav class="content">
    <ul>
        <li><a href="../../index.html" target="_parent">HOME</a></li>
        <li><a href="about.html" target="_parent">ABOUT</a></li>
        <li><a href="product.html" target="_parent">PRODUCT</a></li>
        <li><a href="#">INQUIRY</a></li>
        <li><a href="#">CONTACT</a></li>
    </ul>
</nav>
</body>
</html>