<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WONDERLY INDUSTRIES LIMITED</title>
    <link rel="icon" href="../../favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/product.css">
    <script src="../../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../../assets/js/common.js"></script>
    <script src="../../assets/js/product.js"></script>
</head>
<body>
<div class="content">
    <iframe class="head" scrolling="no" src="head.html"></iframe>
    <iframe class="nav" scrolling="no" src="nav.html"></iframe>
    <div class="main">
        <div class="menu left">
            <p class="menu-title">PRODUCT CATEGORY</p>
            <ul id="menu-list">
            </ul>
        </div>
        <div class="detail right">
            <section class="product screws" id="screws">
                <h2 class="screws-title">SCREWS</h2>
                <section class="detail drywall" id="drywall">
                    <h4 class="drywall-title">Drywall Screw</h4>
                    <img id="Drywall-Screw-WDL-M001A" src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="DrywallScrewA"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001B.jpg" alt="DrywallScrewB"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001C.jpg" alt="DrywallScrewC"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001D.jpg" alt="DrywallScrewD"/>
                </section>
                <section class="detail chipboard" id="chipboard">
                    <h4 class="chipboard-title">Chipboard Screw</h4>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="DrywallScrewA"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001B.jpg" alt="DrywallScrewB"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001C.jpg" alt="DrywallScrewC"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001D.jpg" alt="DrywallScrewD"/>
                </section>
                <section class="detail self-tapping" id="self-tapping">
                    <h4 class="self-tapping-title">Self Tapping Screw</h4>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="DrywallScrewA"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001B.jpg" alt="DrywallScrewB"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001C.jpg" alt="DrywallScrewC"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001D.jpg" alt="DrywallScrewD"/>
                </section>
                <section class="self-drilling detail" id="self-drilling">
                    <h4 class="self-drilling-title">Self Drilling Screw</h4>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="DrywallScrewA"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001B.jpg" alt="DrywallScrewB"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001C.jpg" alt="DrywallScrewC"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001D.jpg" alt="DrywallScrewD"/>
                </section>
                <section class="detail machine" id="machine">
                    <h4 class="machine-title">Machine Screw</h4>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="DrywallScrewA"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001B.jpg" alt="DrywallScrewB"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001C.jpg" alt="DrywallScrewC"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001D.jpg" alt="DrywallScrewD"/>
                </section>
                <section class="detail wood" id="wood">
                    <h4 class="wood-title">Wood Screw</h4>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="DrywallScrewA"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001B.jpg" alt="DrywallScrewB"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001C.jpg" alt="DrywallScrewC"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001D.jpg" alt="DrywallScrewD"/>
                </section>
                <section class="detail confirmat" id="confirmat">
                    <h4 class="confirmat-title">Confirmat Screw</h4>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="DrywallScrewA"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001B.jpg" alt="DrywallScrewB"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001C.jpg" alt="DrywallScrewC"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001D.jpg" alt="DrywallScrewD"/>
                </section>
                <section class="detail handle" id="handle">
                    <h4 class="handle-title">Handle Screw</h4>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="DrywallScrewA"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001B.jpg" alt="DrywallScrewB"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001C.jpg" alt="DrywallScrewC"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001D.jpg" alt="DrywallScrewD"/>
                </section>
            </section>
        </div>
    </div>
    <iframe class="foot" scrolling="no" src="foot.html"></iframe>
</div>

<div id="product-detail-mask" class="mask">
    <div id="product-detail-box" class="box">
        <div class="product-detail-title">
            <h2>product</h2>
            <div id="close-box" class="close">
            </div>
        </div>
        <div class="product-detail">
            <img class="pic" src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="">
            <p class="pre-line product-description">
                WDL-M001A Black PH
                Bugle head phillips drywall screw Fine thread
                Material: Carbon Steel(C1008 ,C1018,C1022 Hardened),Stainless Steel
                Finish: Zinc Plated,Nickle Plated,Brass Plated,Black Oxide,Black&Grey Phosphated,Ruspert
            </p>
            <p class="pre-line product-size">
                Main Size:
                3.5x13~55 #6x1/2’’~2-1/4’’
                3.9x13~60 #7x1/2’’~2-1/2’’
                4.2x16~75 #8x5/8’’~3’’
                4.8x50~150 #10x2’’~6’’
                5.5x50~150 #12x2’’~6’’
            </p>
        </div>
    </div>
</div>
</body>
</html>