<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WONDERLY INDUSTRIES LIMITED</title>
    <link rel="icon" href="../../favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/product.css">
    <script src="../../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../../assets/js/common.js"></script>
    <script src="../../assets/js/product.js"></script>
</head>
<body>
<div class="content">
    <iframe class="head" src="head.html"></iframe>
    <iframe class="nav" src="nav.html"></iframe>
    <div class="main">
        <div class="menu left">
            <p class="menu-title">PRODUCT CATEGORY</p>
            <ul id="menu-list">
                <li>
                    <a href="#screws">SCREWS</a>
                    <ul class="sub-menu">
                        <li><a href="#drywall">Drywall Screw</a></li>
                        <li><a href="#chipboard">Chipboard Screw</a></li>
                        <li><a href="#self-tapping">Self Tapping Screw</a></li>
                        <li><a href="#self-drilling">Self Drilling Screw</a></li>
                        <li><a href="#machine">Machine Screw</a></li>
                        <li><a href="#wood">Wood Screw</a></li>
                        <li><a href="#confirmat">Confirmat Screw</a></li>
                        <li><a href="#handle">Handle Screw</a></li>
                        <li><a href="">Nail Screw</a></li>
                        <li><a href="">Concrete Screw</a></li>
                        <li><a href="">Set Screw</a></li>
                        <li><a href="">Hanger Screw</a></li>
                        <li><a href="">Other Screw</a></li>
                    </ul>
                </li>
                <li><a href="">BOLTS</a>
                    <ul class="sub-menu">
                        <li><a href="">Drywall Screw</a></li>
                        <li><a href="">Chipboard Screw</a></li>
                        <li><a href="">Self Tapping Screw</a></li>
                        <li><a href="">Self Drilling Screw</a></li>
                        <li><a href="">Machine Screw</a></li>
                        <li><a href="">Wood Screw</a></li>
                        <li><a href="">Confirmat Screw</a></li>
                        <li><a href="">Handle Screw</a></li>
                        <li><a href="">Nail Screw</a></li>
                        <li><a href="">Concrete Screw</a></li>
                        <li><a href="">Set Screw</a></li>
                        <li><a href="">Hanger Screw</a></li>
                        <li><a href="">Other Screw</a></li>
                    </ul>
                </li>
                <li><a href="">NUTS</a>
                    <ul class="sub-menu">
                        <li><a href="">Drywall Screw</a></li>
                        <li><a href="">Chipboard Screw</a></li>
                        <li><a href="">Self Tapping Screw</a></li>
                        <li><a href="">Self Drilling Screw</a></li>
                        <li><a href="">Machine Screw</a></li>
                        <li><a href="">Wood Screw</a></li>
                        <li><a href="">Confirmat Screw</a></li>
                        <li><a href="">Handle Screw</a></li>
                        <li><a href="">Nail Screw</a></li>
                        <li><a href="">Concrete Screw</a></li>
                        <li><a href="">Set Screw</a></li>
                        <li><a href="">Hanger Screw</a></li>
                        <li><a href="">Other Screw</a></li>
                    </ul>
                </li>
                <li><a href="">WASHERS</a>
                    <ul class="sub-menu">
                        <li><a href="">Drywall Screw</a></li>
                        <li><a href="">Chipboard Screw</a></li>
                        <li><a href="">Self Tapping Screw</a></li>
                        <li><a href="">Self Drilling Screw</a></li>
                        <li><a href="">Machine Screw</a></li>
                        <li><a href="">Wood Screw</a></li>
                        <li><a href="">Confirmat Screw</a></li>
                        <li><a href="">Handle Screw</a></li>
                        <li><a href="">Nail Screw</a></li>
                        <li><a href="">Concrete Screw</a></li>
                        <li><a href="">Set Screw</a></li>
                        <li><a href="">Hanger Screw</a></li>
                        <li><a href="">Other Screw</a></li>
                    </ul>
                </li>
                <li><a href="">ANCHORS</a>
                    <ul class="sub-menu">
                        <li><a href="">Drywall Screw</a></li>
                        <li><a href="">Chipboard Screw</a></li>
                        <li><a href="">Self Tapping Screw</a></li>
                        <li><a href="">Self Drilling Screw</a></li>
                        <li><a href="">Machine Screw</a></li>
                        <li><a href="">Wood Screw</a></li>
                        <li><a href="">Confirmat Screw</a></li>
                        <li><a href="">Handle Screw</a></li>
                        <li><a href="">Nail Screw</a></li>
                        <li><a href="">Concrete Screw</a></li>
                        <li><a href="">Set Screw</a></li>
                        <li><a href="">Hanger Screw</a></li>
                        <li><a href="">Other Screw</a></li>
                    </ul>
                </li>
                <li><a href="">NAILS</a>
                    <ul class="sub-menu">
                        <li><a href="">Drywall Screw</a></li>
                        <li><a href="">Chipboard Screw</a></li>
                        <li><a href="">Self Tapping Screw</a></li>
                        <li><a href="">Self Drilling Screw</a></li>
                        <li><a href="">Machine Screw</a></li>
                        <li><a href="">Wood Screw</a></li>
                        <li><a href="">Confirmat Screw</a></li>
                        <li><a href="">Handle Screw</a></li>
                        <li><a href="">Nail Screw</a></li>
                        <li><a href="">Concrete Screw</a></li>
                        <li><a href="">Set Screw</a></li>
                        <li><a href="">Hanger Screw</a></li>
                        <li><a href="">Other Screw</a></li>
                    </ul>
                </li>
                <li><a href="">HOOKS</a>
                    <ul class="sub-menu">
                        <li><a href="">Drywall Screw</a></li>
                        <li><a href="">Chipboard Screw</a></li>
                        <li><a href="">Self Tapping Screw</a></li>
                        <li><a href="">Self Drilling Screw</a></li>
                        <li><a href="">Machine Screw</a></li>
                        <li><a href="">Wood Screw</a></li>
                        <li><a href="">Confirmat Screw</a></li>
                        <li><a href="">Handle Screw</a></li>
                        <li><a href="">Nail Screw</a></li>
                        <li><a href="">Concrete Screw</a></li>
                        <li><a href="">Set Screw</a></li>
                        <li><a href="">Hanger Screw</a></li>
                        <li><a href="">Other Screw</a></li>
                    </ul>
                </li>
                <li><a href="">PLUG</a>
                    <ul class="sub-menu">
                        <li><a href="">Drywall Screw</a></li>
                        <li><a href="">Chipboard Screw</a></li>
                        <li><a href="">Self Tapping Screw</a></li>
                        <li><a href="">Self Drilling Screw</a></li>
                        <li><a href="">Machine Screw</a></li>
                        <li><a href="">Wood Screw</a></li>
                        <li><a href="">Confirmat Screw</a></li>
                        <li><a href="">Handle Screw</a></li>
                        <li><a href="">Nail Screw</a></li>
                        <li><a href="">Concrete Screw</a></li>
                        <li><a href="">Set Screw</a></li>
                        <li><a href="">Hanger Screw</a></li>
                        <li><a href="">Other Screw</a></li>
                    </ul>
                </li>
                <li><a href="">THREAD RODS</a>
                    <ul class="sub-menu">
                        <li><a href="">Drywall Screw</a></li>
                        <li><a href="">Chipboard Screw</a></li>
                        <li><a href="">Self Tapping Screw</a></li>
                        <li><a href="">Self Drilling Screw</a></li>
                        <li><a href="">Machine Screw</a></li>
                        <li><a href="">Wood Screw</a></li>
                        <li><a href="">Confirmat Screw</a></li>
                        <li><a href="">Handle Screw</a></li>
                        <li><a href="">Nail Screw</a></li>
                        <li><a href="">Concrete Screw</a></li>
                        <li><a href="">Set Screw</a></li>
                        <li><a href="">Hanger Screw</a></li>
                        <li><a href="">Other Screw</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="detail right">
            <section class="product screws" id="screws">
                <h2 class="screws-title">SCREWS</h2>
                <section class="detail drywall" id="drywall">
                    <h4 class="drywall-title">Drywall Screw</h4>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="DrywallScrewA"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001B.jpg" alt="DrywallScrewB"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001C.jpg" alt="DrywallScrewC"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001D.jpg" alt="DrywallScrewD"/>
                </section>

                <section class="detail chipboard" id="chipboard">
                    <h4 class="chipboard-title">Chipboard Screw</h4>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="DrywallScrewA"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001B.jpg" alt="DrywallScrewB"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001C.jpg" alt="DrywallScrewC"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001D.jpg" alt="DrywallScrewD"/>
                </section>
                <section class="detail self-tapping" id="self-tapping">
                    <h4 class="self-tapping-title">Self Tapping Screw</h4>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="DrywallScrewA"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001B.jpg" alt="DrywallScrewB"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001C.jpg" alt="DrywallScrewC"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001D.jpg" alt="DrywallScrewD"/>
                </section>
                <section class="self-drilling detail" id="self-drilling">
                    <h4 class="self-drilling-title">Self Drilling Screw</h4>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="DrywallScrewA"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001B.jpg" alt="DrywallScrewB"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001C.jpg" alt="DrywallScrewC"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001D.jpg" alt="DrywallScrewD"/>
                </section>
                <section class="detail machine" id="machine">
                    <h4 class="machine-title">Machine Screw</h4>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="DrywallScrewA"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001B.jpg" alt="DrywallScrewB"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001C.jpg" alt="DrywallScrewC"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001D.jpg" alt="DrywallScrewD"/>
                </section>
                <section class="detail wood" id="wood">
                    <h4 class="wood-title">Wood Screw</h4>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="DrywallScrewA"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001B.jpg" alt="DrywallScrewB"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001C.jpg" alt="DrywallScrewC"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001D.jpg" alt="DrywallScrewD"/>
                </section>
                <section class="detail confirmat" id="confirmat">
                    <h4 class="confirmat-title">Confirmat Screw</h4>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="DrywallScrewA"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001B.jpg" alt="DrywallScrewB"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001C.jpg" alt="DrywallScrewC"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001D.jpg" alt="DrywallScrewD"/>
                </section>
                <section class="detail handle" id="handle">
                    <h4 class="handle-title">Handle Screw</h4>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001A.jpg" alt="DrywallScrewA"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001B.jpg" alt="DrywallScrewB"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001C.jpg" alt="DrywallScrewC"/>
                    <img src="../../assets/imgs/Drywall%20screw/Drywall%20Screw%20WDL-M001D.jpg" alt="DrywallScrewD"/>
                </section>
            </section>
        </div>
    </div>
    <iframe class="foot" src="foot.html"></iframe>
</div>
</body>
</html>