<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WONDERLY INDUSTRIES LIMITED</title>
    <link rel="icon" href="../../favicon.ico"/>
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/product.css">
    <script src="../../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../../assets/js/common.js"></script>
    <script src="../../assets/js/product.js"></script>
</head>
<body>
<div class="content">
    <iframe class="head" scrolling="no" src="head.html"></iframe>
    <iframe class="nav" scrolling="no" src="nav.html"></iframe>
    <div class="main">
        <div class="menu left">
            <p class="menu-title">PRODUCT CATEGORY</p>
            <div id="menu-list"></div>
        </div>
        <div id="productReval" class="right">
        </div>
    </div>
    <iframe class="foot" scrolling="no" src="foot.html"></iframe>
</div>

<div id="product-detail-mask" class="mask">
    <div id="product-detail-box" class="box">
        <div class="product-detail-title">
            <h2>DETAIL</h2>
            <div id="close-box" class="close">
            </div>
        </div>
        <div id="product-detail" class="product-detail"></div>
    </div>
</div>
<div onclick="backTop();" class="goTop"></div>
</body>
</html>