@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
.content{
    width: 980px;
    margin:0 auto;
}
a{
    cursor: pointer;
    text-decoration: none;
}
iframe{
    width: 100%;
    display: block;
    border: 0;
    overflow: hidden;
}
.head{
    height: 145px;
}
.nav{
    height: 50px;
}
.foot{
    height: 20px;
}