@charset "UTF-8";
section.content{
    padding: 5px 0;
    height: 160px;
}
p{
    color: #021f94;
}
a{
    cursor: default;
    text-decoration: none;
}
.content section{
    float: left;
}
.left-word{
    font:oblique 600 40px  Ludda Fax,serif ;
    padding-top: 25px;
    padding-left: 9px;
}
.left-word p{
    white-space: pre;
}
.right-word{
    font:italic 45px Lucida Handwriting;
    padding-top: 37px;
    padding-left: 32px;
}