@charset "UTF-8";
iframe{
    width: 100%;
}
.slider{
    border: 10px outset deepskyblue;
    margin:0 auto;
    width: 950px;
    height: 475px;
    overflow: hidden;
    border-radius: 5px ;
}
ul{
    position: relative;
    list-style:none;
}
li{
    float: left;
}