@charset "UTF-8";
iframe{
    width: 100%;
}
.slider{
    overflow: hidden;
}
ul{
    position: relative;
    list-style:none;
    width:500%;
}
li{
    border-radius: 5px ;
    float: left;
    position: relative;
}
img{
    border-radius: 5px ;
}