@charset "UTF-8";
nav{
    padding-bottom: 5px;
}
ul{
    border-radius: 10px 10px 10px 10px;
    height: 50px;
    list-style:none;
    background-color: #565656;
}
li{
    float: left;
    font:italic 600 20px/50px arial,sans-serif;
    padding:0 20px;
}
a{
    color: #fff7e4;
}
a:hover{
    color: #ef4300;
}
.active{
    color: #ef4300;
}