@charset "UTF-8";
.left {
    position: absolute;
    background-color: pink;
    width: 30%;
}
.main{
    position: relative;
}
.right {
    background-color: dodgerblue;
    float: right;
    width: 70%;
}

ul {
    list-style: none;
}
li{
    margin: 5px 0;
}

.menu li {
    position: relative;
    font: italic 300 20px/30px cambria, sans-serif;
}

.menu li a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.menu-title {
    cursor: default;
    padding-left: 12px;
    font-size: 25px !important;
}

.sub-menu {
    position: absolute;
    left: 46%;
    top: -6px;
    z-index: 999;
    display: none;
}
.product{
    padding-left: 12px;
}
.detail img{
    margin:3px 6px;
}